<section class="Y0-flex-container Y0-flex-justify-center">
    <div class="Y0-cards-area Y0-flex-container Y0-flex-between">
        <!-- Community -->
        <mat-card class="Y0-card Y0-flex-container Y0-flex-dir-col Y0-flex-align-center">
            <i class="iY0-card-image1 iY0-size-a"></i>
            <mat-card-content class="Y0-card-text-area">
                <h2 class="Y0-font-a">Community</h2>
                <p class="Y0-font-b Y0-width-287">
                    Join a community of parents and kids with similar cases and exchange experience.
                </p>
            </mat-card-content>
        </mat-card>

        <!-- Meet Up -->
        <mat-card class="Y0-card Y0-flex-container Y0-flex-dir-col Y0-flex-align-center">
            <i class="iY0-card-image2 iY0-size-a"></i>
            <mat-card-content class="Y0-card-text-area">
                <h2 class="Y0-font-a">Meet Up</h2>
                <pre class="Y0-font-b">
Parent? 
Schedule meeting with other parents and 
get to exchange experience 

Organizer? 
Create events for parents with their kids with
different event categories.
                </pre>
            </mat-card-content>
        </mat-card>

        <!-- Events -->
        <mat-card class="Y0-card Y0-flex-container Y0-flex-dir-col Y0-flex-align-center">
            <i class="iY0-card-image3 iY0-size-a"></i>
            <mat-card-content class="Y0-card-text-area">
                <h2 class="Y0-font-a">Events</h2>
                <p class="Y0-font-b">
                    Participate in events, and get to know people with different stories, experience and get involved in different activities; social , sports and much more.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>