.Y0-pointer {
    cursor: pointer;
}


/* Flex Box */

.Y0-flex-container {
    display: flex;
}

.Y0-flex-between {
    justify-content: space-between;
}

.Y0-flex-around {
    justify-content: space-around;
}

.Y0-flex-align-center {
    align-items: center;
}

.Y0-flex-justify-center {
    justify-content: center;
}

.Y0-flex-justify-end {
    justify-content: flex-end;
}

.Y0-flex-align-end {
    align-items: flex-end;
}

.Y0-flex-justify-self-end {
    justify-self: flex-end;
}

.Y0-flex-dir-col {
    flex-direction: column;
}


/* Flex Box ===END*/

.Y0-cards-area {
    width: 1640px;
    // height: 1170px;
    margin: 157px auto 0px auto;
    // background-color: red;
    flex-wrap: wrap;
    grid-row-gap: 88px;
}

.Y0-card {
    width: 536px;
    height: 541px;
    border-radius: 10px;
    border: solid #707070 1px;
    box-shadow: 0px 8px 20px 0px rgba($color: #0D150D, $alpha: 0.5);
}

.iY0-card-image1 {
    background-image: url("../../../assets/images/cardImage.svg");
}

.iY0-profile {
    background-image: url("../../../assets/images/profile.svg");
    margin-right: 14px;
}

.iY0-message {
    background-image: url("../../../assets/images/message.svg");
    margin-right: 10px;
}

.iY0-loadMore {
    background-image: url("../../../assets/images/loadMore.svg");
    margin-right: 24px;
}

.iY0-size-a {
    width: 437px;
    height: 178px;
}

.iY0-size-b {
    width: 33px;
    height: 33px;
}

.Y0-card-content {
    width: 360px;
    height: 148px;
    margin-left: 66px;
    margin-top: 27px;
    // background-color: yellow;
}

.Y0-font-a {
    font-family: poppins;
    font-size: 20px;
    font-weight: lighter;
    color: #000000;
}

.Y0-font-b {
    font-family: poppins;
    font-size: 20px;
    color: #114A15;
}

.Y0-font-c {
    font-family: poppins;
    font-size: 20px;
    color: #FFFFFF;
}

.Y0-card-actions {
    width: 404px;
    height: 63px;
    margin: 50px auto 44px auto;
    // background-color: burlywood;
}

.Y0-button {
    width: 189px;
    height: 62px;
    border: none;
    background-color: #114A15;
    box-shadow: 0px 3px 6px 0px #000000;
    border-radius: 20px;
}

.Y0-moreButton {
    width: 536px;
    height: 62px;
    border: none;
    background-color: #114A15;
    box-shadow: 0px 3px 6px 0px #000000;
    border-radius: 20px;
    margin-top: 141px;
    margin-bottom: 50px;
}


/* Animations */

.Y0-button:active,
.Y0-moreButton:active {
    transform: translateY(4px);
}

.Y0-button:hover,
.Y0-moreButton:hover {
    background-color: #3e8e41
}


/* Animations ===END*/