<div class="Y0-flex-container Y0-flex-justify-center">
    <div class="Y0-width Y0-height Y0-flex-container Y0-flex-dir-col Y0-flex-between Y0-filter-component-holder">
        <!-- Search bar -->
        <div class="Y0-search-area fY0-bg-nav-search-area Y0-flex-container Y0-flex-align-center Y0-flex-between">
            <i class="iY0-magnifier iY0-size-a"></i>
            <input type="text" class="Y0-flex-container Y0-search-area" placeholder="Search...">
        </div>

        <!-- Filters -->
        <div class="Y0-flex-container">
            <div class="Y0-filterBy-area Y0-flex-container">
                <i class="iY0-filter iY0-size-b"></i>
                <p class="Y0-filter">Filter By</p>
            </div>
            <div class="Y0-flex-container Y0-flex-align-center Y0-filter-selection">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" color="accent">All</mat-radio-button>
                    <mat-radio-button value="2" color="accent">Parent Name</mat-radio-button>
                    <mat-radio-button value="3" color="accent">Kid Name</mat-radio-button>
                    <mat-radio-button value="4" color="accent">Disability</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
</div>