<section class="Y0-aboutUs-section Y0-flex-container Y0-flex-dir-col Y0-flex-align-center">
    <div class="Y0-flex-container Y0-flex-between Y0-flex-align-center Y0-width-main Y0-margin-bot-200 Y0-aboutUs-content">
        <div class="Y0-aboutUs-holder Y0-flex-container Y0-flex-dir-col">
            <h1 class="Y0-font-a">About US</h1>
            <p class="Y0-font-b">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by
                their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            </p>
        </div>
        <i class="iY0-card-image1 iY0-size-a"></i>
    </div>
    <!-- Horizontal spacer -->
    <div class="Y0-horizontal-spacer"></div>
</section>